.b-head {
  height: 75px;
  background-color: #222222;
  -ms-flex-line-pack: center;
      align-content: center;
}

.b-head_paddingTop {
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-navBar__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 41px;
}

.b-navBar__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 33px;
}

@media (max-width: 767.98px) {
  .b-navBar__right {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 767.98px) {
  .b-navBar_hidden {
    display: none;
  }
}

.b-cart {
  position: relative;
  cursor: pointer;
}

.b-cart img {
  display: block;
}

.b-cart__numbOfPrdct {
  position: absolute;
  right: -5px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .b-catalog {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.b-catalog_margin {
  margin-top: 96px;
}

@media (max-width: 1364.98px) {
  .b-catalog_margin {
    margin-top: 155px;
  }
}

@media (max-width: 767.98px) {
  .b-catalog_margin {
    margin-top: 64px;
  }
}

.b-catalog_marginBtm {
  margin-bottom: 128px;
}

@media (max-width: 767.98px) {
  .b-catalog_marginBtm {
    margin-bottom: 64px;
  }
}

.b-catalog__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.b-catalog__description {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.b-catalog__box {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1024.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 16px;
  }
}

@media (max-width: 475.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.b-catalog__imgBox {
  position: relative;
}

.b-catalog__imgBox img {
  display: block;
}

.b-catalog__addToCartBg {
  position: absolute;
  top: 0;
  left: 0;
}

.b-product {
  max-width: 360px;
  background-color: #F8F8F8;
}

@media (max-width: 1064.98px) {
  .b-product {
    max-width: 100%;
  }
  .b-product_hidden {
    display: none;
  }
}

.b-product img {
  width: 100%;
}

.b-product__description {
  padding: 25px 29px 20px 16px;
}

.b-product__description h2 {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}

.b-product__description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
}

.b-product__description h3 {
  color: #F16D7F;
  font-size: 13px;
  line-height: 16px;
}

.b-button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376 !important;
  margin: 0 auto;
  cursor: pointer;
}

.b-button p {
  cursor: pointer;
}

.b-button_margin {
  margin-top: 48px;
}

@media (max-width: 1364.98px) {
  .b-button_margin {
    margin-top: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-button_margin {
    margin-top: 40px;
  }
}

.b-button_hover:hover {
  color: #FFFFFF !important;
  background-color: #F16D7F;
}

.b-feature {
  height: 341px;
  background: #222224;
}

@media (max-width: 1364.98px) {
  .b-feature {
    height: 610px;
  }
}

.b-feature__box {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1364.98px) {
  .b-feature__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

.b-feature__el {
  max-width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.b-feature__el h3 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.b-feature__el p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.b-feature__imgBox {
  height: 40px;
}

.b-feature_stylesJS {
  margin-top: 396px;
  position: relative;
  z-index: 1;
}

.b-subscription {
  max-width: 360px;
}

.b-subscription__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 127.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.b-subscription__title span {
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .b-subscription__title span {
    font-size: 14px;
  }
}

.b-subscription__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-subscription__input {
  border: none;
  background: #E1E1E1;
  max-width: 256px;
  width: 100%;
  height: 49px;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px 0px 0px 40px;
  outline: none;
}

.b-subscription__input::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input:-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input::-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input::placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__button {
  width: 100px;
  height: 49px;
  background: #E05C6E;
  color: #FFFFFF !important;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0px 40px 40px 0px;
}

.b-quote {
  max-width: 360px;
  text-align: center;
}

.b-quote img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.b-quote p {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.b-quote p span {
  font-style: italic;
}

.b-footerTop {
  height: 448px;
  background-image: url(../images/general/footerTop/backgroundFooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1364.98px) {
  .b-footerTop {
    height: 693px;
    background-position: -450px;
  }
}

.b-footerTop_background {
  background: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.b-footerTop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1364.98px) {
  .b-footerTop__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footerTop__quote {
  margin-top: 97px;
}

@media (max-width: 1364.98px) {
  .b-footerTop__quote {
    margin-top: 64px;
  }
}

.b-footerTop__subscription {
  margin-top: 150px;
}

@media (max-width: 1364.98px) {
  .b-footerTop__subscription {
    margin-top: 48px;
  }
}

@media (max-width: 767.98px) {
  .b-footerTop__subscription {
    margin-top: 59px;
  }
}

.b-socialMediaLinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31.45px 31.45px 31.45px 31.45px;
      grid-template-columns: 31.45px 31.45px 31.45px 31.45px;
  gap: 7px;
}

.b-socialMediaLinks__box {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.b-socialMediaLinks__box:hover {
  background-color: #F16D7F;
}

.b-socialMediaLinks__box:hover path {
  fill: #FFFFFF;
}

.b-footerBtm {
  height: 79px;
  background: #222224;
}

@media (max-width: 767.98px) {
  .b-footerBtm {
    height: 143px;
    padding-top: 43px;
    padding-bottom: 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.b-footerBtm__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .b-footerBtm__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-footerBtm p {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767.98px) {
  .b-footerBtm p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.b-footerBtm__socialMediaLinks {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767.98px) {
  .b-footerBtm__socialMediaLinks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.b-menu {
  position: relative;
}

.b-menu__catalogScroll {
  position: absolute;
  right: -70px;
  top: 57px;
  z-index: 3;
}

@media (max-width: 1364.98px) {
  .b-menu__catalogScroll {
    right: -32px;
  }
}

@media (max-width: 767.98px) {
  .b-menu__catalogScroll {
    left: 0;
  }
}

.b-menu__menuEl {
  cursor: pointer;
}

.b-catalogScroll {
  height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 37px;
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .b-catalogScroll {
    width: 100vw;
    margin-left: -16px;
  }
}

.b-catalogScroll h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: inline;
}

.b-catalogScroll__el {
  margin-top: 20px;
}

.b-catalogScroll__el_margin {
  margin-top: 24px;
}

.b-catalogScroll__el h3 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  display: inline;
}

.b-catalogScroll__el ul {
  padding-left: 21.5px;
  list-style: none;
}

.b-catalogScroll__el li {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-top: 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.b-catalogScroll__el li:hover {
  cursor: pointer;
  color: #F16D7F;
}

.b-buttonClose {
  background: none;
  border: none;
}

.b-buttonClose:hover {
  cursor: pointer;
}

.b-buttonClose:hover path {
  fill: #F16D7F;
}

.b-buttonClose_position {
  position: absolute;
  right: 16px;
  top: 16px;
}

.b-addToCartBg {
  height: 100%;
  width: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.b-addToCartBg__button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 43px;
}

.b-addToCartBg__button svg {
  margin-right: 11px;
}

.b-addToCartBg:hover {
  opacity: 100%;
}

.b-header {
  height: 148px;
  background: #F8F3F4;
}

.b-header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .b-header__content {
    padding-top: 24px;
    padding-bottom: 46px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .b-header__content_alignCenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.b-header h1, .b-header li {
  text-transform: uppercase;
}

.b-header h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.b-header li {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.b-header a {
  color: #636363;
}

.b-header__breadcrumb_margin {
  margin: 0 !important;
}

.b-header__breadcrumb_active {
  font-weight: 700 !important;
  color: #F16D7F !important;
}

.b-navCatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 690px;
}

@media (max-width: 1364.98px) {
  .b-navCatalog {
    max-width: 100%;
  }
}

.b-navCatalog_margin {
  margin-top: 51px;
  margin-bottom: 64px;
}

@media (max-width: 1364.98px) {
  .b-navCatalog_margin {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

.b-navCatalog__propertiesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-navCatalog__button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 28px;
  cursor: pointer;
}

.b-navCatalog__button h3, .b-navCatalog__button h4 {
  cursor: pointer;
}

.b-navCatalog__button:last-child {
  margin-right: 0;
}

@media (max-width: 767.98px) {
  .b-navCatalog__button {
    margin-right: 24px;
  }
}

@media (max-width: 374.98px) {
  .b-navCatalog__button {
    margin-right: 15px;
  }
}

.b-navCatalog__button:hover h3, .b-navCatalog__button:hover h4 {
  color: #EF5B70;
}

.b-navCatalog__button:hover path {
  fill: #EF5B70;
}

.b-navCatalog h3 {
  font-weight: 600;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000;
  margin-right: 11px;
}

@media (max-width: 767.98px) {
  .b-navCatalog h3 {
    display: none;
  }
}

.b-navCatalog h4 {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #6F6E6E;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .b-navCatalog h4 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
}

@media (max-width: 374.98px) {
  .b-navCatalog h4 {
    font-size: 10px !important;
    margin-right: 6px;
  }
}

@media (max-width: 767.98px) {
  .b-navCatalog__filterSvg {
    width: 37.5px;
    height: 25px;
  }
}

.b-basket {
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 42px;
  background: white;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
}

.b-basket__relative {
  position: relative;
}

@media (min-width: 340px) {
  .b-basket {
    font-size: 16px;
  }
}

@media (min-width: 552px) {
  .b-basket {
    width: 500px;
  }
}

.b-basket__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}

.b-basket__header {
  font-weight: bold;
}

.b-basket__total {
  font-weight: bold;
  text-align: right;
}

.b-basket_hidden {
  display: none;
}

.b-headerIndex {
  height: 764px;
  background-color: #F1E4E6;
}

@media (max-width: 1364.98px) {
  .b-headerIndex {
    height: 368px;
  }
}

@media (max-width: 767.98px) {
  .b-headerIndex {
    height: 363px;
  }
}

.b-headerIndex__contentBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/index/header/man.png);
  background-repeat: no-repeat;
  background-position: -225px 0;
}

@media (max-width: 1364.98px) {
  .b-headerIndex__contentBox {
    background-size: contain;
    background-position: -100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .b-headerIndex__contentBox {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-headerIndex__content {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 91px;
  margin-bottom: 381px;
}

@media (max-width: 1364.98px) {
  .b-headerIndex__content {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .b-headerIndex__content {
    height: 69px;
  }
}

.b-headerIndex__title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  line-height: 38px;
}

.b-headerIndex__title_font {
  font-weight: 700;
  font-size: 32px;
}

.b-headerIndex__title_pink {
  color: #F16D7F;
}

@media (max-width: 1364.98px) {
  .b-headerIndex__title {
    font-size: 44px;
    line-height: 29px;
  }
  .b-headerIndex__title_font {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .b-headerIndex__title {
    font-size: 38px;
    line-height: 24px;
  }
  .b-headerIndex__title_font {
    font-size: 20px;
  }
}

.b-offers__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1364.98px) {
  .b-offers__box {
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offers__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 30px;
  }
}

.b-offerEl {
  position: relative;
  max-width: 360px;
  max-height: 260px;
}

@media (max-width: 767.98px) {
  .b-offerEl {
    max-width: 100%;
  }
}

.b-offerEl img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.b-offerEl__background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.b-offerEl__title {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-offerEl__title_span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.b-offerEl_accesories {
  margin-top: 30px;
  max-width: 100%;
  max-height: 180px;
}

@media (max-width: 1364.98px) {
  .b-offerEl_accesories {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offerEl_accesories {
    margin-top: 30px;
    height: 111px;
  }
}

.b-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-pagination_position {
  margin-top: 48px;
  margin-bottom: 96px;
}

@media (max-width: 1364.98px) {
  .b-pagination_position {
    margin-top: 40px;
    margin-bottom: 63px;
  }
}

.b-pagination ul {
  border: 1px solid #EBEBEB;
  border-radius: 7px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.b-pagination__link {
  border: none;
  padding: 0;
}

.b-pagination__link:hover {
  background-color: transparent;
}

.b-pagination__link_rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.b-pagination__page {
  margin-left: 17px;
}

.b-pagination__page a {
  font-weight: 300;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #C4C4C4 !important;
  padding-top: 1.5px;
}

.b-pagination__page a:hover {
  color: #EF5B70 !important;
}

.b-pagination__page_marginRight {
  margin-right: 17px;
}

.b-pagination img, .b-pagination svg {
  vertical-align: 0%;
}

.b-sizeScroll {
  background-color: #FFFFFF;
  width: 79px;
  padding: 7px 0px 11px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.b-sizeScroll_parent {
  position: relative;
}

.b-sizeScroll_position {
  position: absolute;
  margin-top: 0;
  left: 0;
  z-index: 9999;
}

.b-sizeScroll__label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.b-sizeScroll__input {
  border: 1px solid #EBEBEB;
  border-radius: 0 !important;
  cursor: pointer;
}

.b-filterScroll {
  width: 360px;
  padding: 13px 15.5px 16px 17.5px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.b-filterScroll_parent {
  position: relative;
}

.b-filterScroll_position {
  position: absolute;
  top: -16px;
  left: 0;
  z-index: 999;
}

@media (max-width: 475px) {
  .b-filterScroll {
    width: 280px;
  }
}

.b-filterScroll h3 {
  color: #EF5B70;
}

.b-filterScroll h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  margin-top: 16px;
}

.b-filterScroll h5:first-child {
  margin-bottom: 24.5px;
}

.b-filterScroll path {
  fill: #EF5B70;
}

.b-filterScroll ul {
  list-style-type: none;
}

.b-filterScroll ul li {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 11px;
  cursor: pointer;
}

.b-filterScroll ul li:first-child {
  margin-top: 0;
}

.b-filterScroll ul li:hover {
  color: #EF5B70;
}

.b-carousel {
  height: 777px;
  padding-top: 10.5px;
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1364.98px) {
  .b-carousel {
    height: 624px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-carousel__imgBox img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 724px;
}

@media (max-width: 1364.98px) {
  .b-carousel__imgBox img {
    max-height: 565px;
  }
}

@media (max-width: 767.98px) {
  .b-carousel__imgBox img {
    max-height: 454px;
  }
}

.b-carousel__button {
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1 !important;
  width: 47px !important;
  height: 47px !important;
  bottom: 50% !important;
  top: auto !important;
}

.b-carousel__button:hover path {
  fill: #F16D7F;
}

.b-carousel__dropdown_rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.b-productDesc {
  max-width: 1140px;
  min-height: 601px;
  padding: 64.5px 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
}

@media (max-width: 767.98px) {
  .b-productDesc {
    padding: 64.5px 25px;
  }
}

.b-productDesc_position {
  margin: 0 auto 128px;
  position: relative;
}

@media (min-width: 1364.98px) {
  .b-productDesc_position {
    margin-top: -65px;
  }
}

@media (max-width: 767.98px) {
  .b-productDesc_position {
    margin-bottom: 64px;
  }
}

.b-productDesc h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.b-productDesc__h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.b-productDesc__h5 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.b-productDesc__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  max-width: 555px;
  text-align: center;
  margin: 48px auto 33px;
}

.b-productDesc__pinkLine {
  width: 64px;
  height: 3px;
  background-color: #EF5B70;
  opacity: 1;
  border: none;
  margin: 12px auto;
}

.b-productDesc__greyLine {
  max-width: 642px;
  margin: 65px auto;
  background-color: #EAEAEA;
  opacity: 1;
  border: none;
  height: 1px;
}

@media (max-width: 767.98px) {
  .b-productDesc__greyLine {
    margin-left: 75px;
    margin-right: 75px;
  }
}

.b-productDesc__navCatalog {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-productDesc__button {
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin-top: 49px;
}

.b-productDesc__button path {
  fill: #FF6A6A;
}

.b-productDesc__button p {
  color: #FF6A6A;
  padding-left: 22px;
}

.b-productDesc__button:hover {
  background-color: #FF6A6A;
}

.b-productDesc__button:hover path {
  fill: #FFFFFF;
}

.b-productDesc__button:hover p {
  color: #FFFFFF;
}

.b-productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 306px;
  width: 100%;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}

@media (max-width: 767.98px) {
  .b-productCard {
    height: 188px;
  }
}

.b-productCard_marginTop {
  margin-top: 40px;
}

@media (max-width: 767.98px) {
  .b-productCard_marginTop {
    margin-top: 32px;
  }
}

.b-productCard__imgBox {
  height: 306px;
}

@media (max-width: 767.98px) {
  .b-productCard__imgBox {
    height: 188px;
  }
}

.b-productCard__imgBox img {
  height: 100%;
}

.b-productCard__info {
  padding-top: 22px;
  padding-left: 31px;
}

@media (max-width: 767.98px) {
  .b-productCard__info {
    padding-top: 13px;
    padding-left: 17px;
  }
}

.b-productCard__h3 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

@media (max-width: 767.98px) {
  .b-productCard__h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
    width: 140px;
  }
}

@media (max-width: 374.98px) {
  .b-productCard__h3 {
    font-size: 14px;
    width: 120px;
  }
}

.b-productCard__ul {
  list-style-type: none;
  padding-left: 0;
}

.b-productCard__ul li {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.b-productCard__ul li:not(:first-child) {
  margin-top: 6px;
}

@media (max-width: 767.98px) {
  .b-productCard__ul li:not(:first-child) {
    margin-top: 4px;
  }
}

.b-productCard__ul li span {
  color: #6F6E6E;
}

@media (max-width: 767.98px) {
  .b-productCard__ul li {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 767.98px) {
  .b-productCard__ul li {
    font-size: 12px;
    line-height: 14px;
  }
}

.b-productCard__spanPrice {
  color: #EF5B70 !important;
}

.b-productCard__spanQuantity {
  border: 1px solid #EAEAEA;
  padding: 1.5px 16px;
  margin-left: 24px;
}

@media (max-width: 767.98px) {
  .b-productCard__spanQuantity {
    padding: 1.5px 10px;
    margin-left: 8px;
  }
}

.b-productCard__buttonClose_position {
  position: absolute;
  top: 28px;
  right: 22px;
}

.b-productCard__buttonClose_position svg {
  width: 18px;
  height: 18px;
}

@media (max-width: 767.98px) {
  .b-productCard__buttonClose_position {
    top: 17px;
    right: 12px;
  }
  .b-productCard__buttonClose_position svg {
    width: 10px;
    height: 10px;
  }
}

.b-optionsBtnsBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-optionsBtnsBox_marginTop {
  margin-top: 72px;
}

@media (max-width: 1364.98px) {
  .b-optionsBtnsBox_marginTop {
    max-width: 508px;
    margin: 0 auto;
    margin-top: 62px;
  }
}

@media (max-width: 767.98px) {
  .b-optionsBtnsBox_marginTop {
    margin-top: 30px;
  }
}

.b-optionsBtns {
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF !important;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .b-optionsBtns {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 18px;
  }
}

@media (max-width: 374.98px) {
  .b-optionsBtns {
    font-size: 10px;
  }
}

.b-cartForm {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

@media (max-width: 1364.98px) {
  .b-cartForm_marginRight {
    margin-right: 15px;
  }
}

@media (max-width: 767.98px) {
  .b-cartForm_marginRight {
    margin: 0;
  }
}

@media (max-width: 1364.98px) {
  .b-cartForm {
    width: 100%;
  }
}

.b-cartForm__input {
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
}

.b-cartForm__input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.b-cartForm__input:-ms-input-placeholder {
  color: #B1B1B1;
}

.b-cartForm__input::-ms-input-placeholder {
  color: #B1B1B1;
}

.b-cartForm__input::placeholder {
  color: #B1B1B1;
}

.b-cartForm__button {
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  text-align: center;
  width: 100px;
  height: 35px;
  padding: 10px 0 12px 0;
  margin-top: 23px;
}

.b-cartTotal {
  background: #F5F3F3;
  width: 360px;
  height: 214px;
  padding: 39px 42px 42px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-cartTotal_margin {
  margin-top: 57px;
}

@media (max-width: 1364.98px) {
  .b-cartTotal {
    width: 100%;
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .b-cartTotal {
    margin-top: 48px;
  }
}

.b-cartTotal__h5 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: end;
}

.b-cartTotal__h5 span {
  margin-left: 20px;
}

.b-cartTotal__h6 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: end;
  margin-top: 12px;
}

.b-cartTotal__h6 span {
  font-weight: 700;
  color: #F16D7F;
  margin-left: 25px;
}

.b-cartTotal__greyLine {
  opacity: 1;
  height: 1px;
  background: #E2E2E2;
  border: none;
  margin-top: 21px;
  margin-bottom: 17px;
}

.b-cartTotal__button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  max-width: 273px;
  width: 100%;
  height: 50px;
  padding: 15px 0 15px;
  text-align: center;
  background: #F16D7F;
  border: none;
  margin: 0 auto;
}

.b-cartContentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-cartContentBox_margin {
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 1364.98px) {
  .b-cartContentBox_margin {
    margin-top: 59px;
  }
}

@media (max-width: 767.98px) {
  .b-cartContentBox_margin {
    margin-top: 39px;
    margin-bottom: 96px;
  }
}

@media (max-width: 1364.98px) {
  .b-cartContentBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media (max-width: 767.98px) {
  .b-cartContentBox {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.b-cartContentBox__left {
  width: 652px;
}

@media (max-width: 1364.98px) {
  .b-cartContentBox__left {
    width: 100%;
  }
}

@media (max-width: 1364.98px) {
  .b-cartContentBox__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
  }
}

@media (max-width: 767.98px) {
  .b-cartContentBox__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 48px;
  }
}

.b-registrForm {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767.98px) {
  .b-registrForm {
    width: 100%;
  }
}

.b-registrForm__input {
  width: 360px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
}

@media (max-width: 767.98px) {
  .b-registrForm__input {
    width: 100%;
  }
}

.b-registrForm__input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.b-registrForm__input:-ms-input-placeholder {
  color: #B1B1B1;
}

.b-registrForm__input::-ms-input-placeholder {
  color: #B1B1B1;
}

.b-registrForm__input::placeholder {
  color: #B1B1B1;
}

.b-registrForm__gender {
  margin-top: 31px;
  margin-bottom: 33px;
}

.b-registrForm__gender input {
  border: 1px solid #A4A4A4;
  width: 17px;
  height: 17px;
}

.b-registrForm__gender label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-left: 8px;
  padding-top: 6px;
}

.b-registrForm__p {
  margin-top: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.b-registrForm__button {
  border: none;
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  width: 167px;
  height: 50x;
  padding: 16px 29px;
  margin-top: 39px;
}

.b-registrForm__button svg {
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.b-benefits {
  max-width: 652px;
}

@media (min-width: 767.98px) {
  .b-benefits_margin {
    margin-left: 22px;
  }
}

@media (max-width: 767.98px) {
  .b-benefits_margin {
    margin-top: 40px;
  }
}

.b-benefits__h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.b-benefits__p {
  margin-top: 22px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.b-benefits__ul {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style-type: none;
  padding: 0;
}

.b-benefits__ul li {
  background-image: url(../images/registration/legit.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 42px;
}

.b-benefits__ul li:not(:first-child) {
  margin-top: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, button, input, label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  cursor: default;
  margin: 0;
}

button, a {
  cursor: pointer;
}

button h1, button h2, button h3, button h4, button h5, button h6, button p, a h1, a h2, a h3, a h4, a h5, a h6, a p {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.b-container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1364.98px) {
  .b-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.b-main__index {
  margin-top: 65px;
  margin-bottom: 95px;
}

@media (max-width: 1364.98px) and (min-width: 767.98px) {
  .b-main__index {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

@media (max-width: 1364.98px) {
  .b-main__index_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.b-main__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

@media (max-width: 1364.98px) {
  .b-main__registration {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .b-main__registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.b-footer_styleJS {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

.bodyBack {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(58, 56, 56, 0.4);
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */