.b-head {
  height: 75px;
  background-color: #222222;
  -ms-flex-line-pack: center;
      align-content: center;
}

.b-head_paddingTop {
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-navBar__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 41px;
}

.b-navBar__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 33px;
}

@media (max-width: 767.98px) {
  .b-navBar__left {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 767.98px) {
  .b-navBar_hidden {
    display: none;
  }
}

.b-cart {
  position: relative;
}

.b-cart img {
  display: block;
}

.b-cart__numbOfPrdct {
  position: absolute;
  right: -5px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.b-catalog_margin {
  margin-top: 96px;
}

@media (max-width: 1364.98px) {
  .b-catalog {
    margin-top: 155px;
  }
}

@media (max-width: 767.98px) {
  .b-catalog {
    margin-top: 64px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.b-catalog__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.b-catalog__description {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.b-catalog__box {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1024.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 16px;
  }
}

@media (max-width: 475.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.b-catalog__imgBox {
  position: relative;
}

.b-catalog__imgBox img {
  display: block;
}

.b-catalog__addToCartBg {
  position: absolute;
  top: 0;
  left: 0;
}

.b-product {
  max-width: 360px;
  background-color: #F8F8F8;
}

@media (max-width: 1064.98px) {
  .b-product {
    max-width: 100%;
  }
}

.b-product img {
  width: 100%;
}

.b-product__description {
  padding: 25px 29px 20px 16px;
}

.b-product__description h2 {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}

.b-product__description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
}

.b-product__description h3 {
  color: #F16D7F;
  font-size: 13px;
  line-height: 16px;
}

.b-button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: 0 auto;
}

.b-button_margin {
  margin-top: 48px;
}

@media (max-width: 1364.98px) {
  .b-button_margin {
    margin-top: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-button_margin {
    margin-top: 40px;
  }
}

.b-button_hover:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.b-feature {
  height: 341px;
  background: #222224;
}

@media (max-width: 1364.98px) {
  .b-feature {
    height: 610px;
  }
}

.b-feature__box {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1364.98px) {
  .b-feature__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

.b-feature__el {
  max-width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.b-feature__el h3 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.b-feature__el p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.b-feature__imgBox {
  height: 40px;
}

.b-feature_stylesJS {
  margin-top: 396px;
  position: relative;
  z-index: 1;
}

.b-subscription {
  max-width: 360px;
}

.b-subscription__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 127.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.b-subscription__title span {
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .b-subscription__title span {
    font-size: 14px;
  }
}

.b-subscription__inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b-subscription__input {
  border: none;
  background: #E1E1E1;
  max-width: 256px;
  width: 100%;
  height: 49px;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px 0px 0px 40px;
  outline: none;
}

.b-subscription__input::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input:-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input::-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__input::placeholder {
  color: #222224;
  opacity: 0.67;
  font-size: 14px;
  line-height: 17px;
}

.b-subscription__button {
  width: 100px;
  height: 49px;
  background: #E05C6E;
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 0px 40px 40px 0px;
}

.b-quote {
  max-width: 360px;
  text-align: center;
}

.b-quote img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.b-quote p {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.b-quote p span {
  font-style: italic;
}

.b-footerTop {
  height: 448px;
  background-image: url(../images/general/footerTop/backgroundFooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1364.98px) {
  .b-footerTop {
    height: 693px;
    background-position: -450px;
  }
}

.b-footerTop_background {
  background: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.b-footerTop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1364.98px) {
  .b-footerTop__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.b-footerTop__quote {
  margin-top: 97px;
}

@media (max-width: 1364.98px) {
  .b-footerTop__quote {
    margin-top: 64px;
  }
}

.b-footerTop__subscription {
  margin-top: 150px;
}

@media (max-width: 1364.98px) {
  .b-footerTop__subscription {
    margin-top: 48px;
  }
}

@media (max-width: 767.98px) {
  .b-footerTop__subscription {
    margin-top: 59px;
  }
}

.b-socialMediaLinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31.45px 31.45px 31.45px 31.45px;
      grid-template-columns: 31.45px 31.45px 31.45px 31.45px;
  gap: 7px;
}

.b-socialMediaLinks__box {
  width: 31.45px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.b-socialMediaLinks__box:hover {
  background-color: #F16D7F;
}

.b-socialMediaLinks__box:hover path {
  fill: #FFFFFF;
}

.b-footerBtm {
  height: 79px;
  background: #222224;
}

@media (max-width: 767.98px) {
  .b-footerBtm {
    height: 143px;
    padding-top: 43px;
    padding-bottom: 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.b-footerBtm__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .b-footerBtm__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-footerBtm p {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767.98px) {
  .b-footerBtm p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.b-footerBtm__socialMediaLinks {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767.98px) {
  .b-footerBtm__socialMediaLinks {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.b-menu {
  position: relative;
}

.b-menu__catalogScroll {
  position: absolute;
  right: -70px;
  top: 57px;
  z-index: 3;
}

@media (max-width: 1364.98px) {
  .b-menu__catalogScroll {
    right: -32px;
  }
}

@media (max-width: 767.98px) {
  .b-menu__catalogScroll {
    left: 0;
  }
}

.b-menu__menuEl {
  cursor: pointer;
}

.b-catalogScroll {
  height: 764px;
  width: 232px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 37px;
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .b-catalogScroll {
    width: 100vw;
    margin-left: -16px;
  }
}

.b-catalogScroll h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: inline;
}

.b-catalogScroll__el {
  margin-top: 20px;
}

.b-catalogScroll__el_margin {
  margin-top: 24px;
}

.b-catalogScroll__el h3 {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
  display: inline;
}

.b-catalogScroll__el ul {
  padding-left: 21.5px;
  list-style: none;
}

.b-catalogScroll__el li {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-top: 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.b-catalogScroll__el li:hover {
  cursor: pointer;
  color: #F16D7F;
}

.b-buttonClose {
  background: none;
  border: none;
}

.b-buttonClose:hover {
  cursor: pointer;
}

.b-buttonClose:hover path {
  fill: #F16D7F;
}

.b-buttonClose_position {
  position: absolute;
  right: 16px;
  top: 16px;
}

.b-addToCartBg {
  height: 100%;
  width: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.b-addToCartBg__button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 43px;
}

.b-addToCartBg__button svg {
  margin-right: 11px;
}

.b-addToCartBg:hover {
  opacity: 100%;
}

.b-header {
  height: 764px;
  background-color: #F1E4E6;
}

@media (max-width: 1364.98px) {
  .b-header {
    height: 368px;
  }
}

@media (max-width: 767.98px) {
  .b-header {
    height: 363px;
  }
}

.b-header__contentBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/index/header/man.png);
  background-repeat: no-repeat;
  background-position: -225px 0;
}

@media (max-width: 1364.98px) {
  .b-header__contentBox {
    background-size: contain;
    background-position: -100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .b-header__contentBox {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-header__content {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 91px;
  margin-bottom: 381px;
}

@media (max-width: 1364.98px) {
  .b-header__content {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .b-header__content {
    height: 69px;
  }
}

.b-header__title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  line-height: 38px;
}

.b-header__title_font {
  font-weight: 700;
  font-size: 32px;
}

.b-header__title_pink {
  color: #F16D7F;
}

@media (max-width: 1364.98px) {
  .b-header__title {
    font-size: 44px;
    line-height: 29px;
  }
  .b-header__title_font {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .b-header__title {
    font-size: 38px;
    line-height: 24px;
  }
  .b-header__title_font {
    font-size: 20px;
  }
}

.b-offers__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1364.98px) {
  .b-offers__box {
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offers__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 30px;
  }
}

.b-offerEl {
  position: relative;
  max-width: 360px;
  max-height: 260px;
}

@media (max-width: 767.98px) {
  .b-offerEl {
    max-width: 100%;
  }
}

.b-offerEl img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.b-offerEl__background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.b-offerEl__title {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-offerEl__title_span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.b-offerEl_accesories {
  margin-top: 30px;
  max-width: 100%;
  max-height: 180px;
}

@media (max-width: 1364.98px) {
  .b-offerEl_accesories {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offerEl_accesories {
    margin-top: 30px;
    height: 111px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
}

button, a {
  cursor: pointer;
}

button h1, button h2, button h3, button h4, button h5, button h6, button p, a h1, a h2, a h3, a h4, a h5, a h6, a p {
  cursor: pointer;
}

.b-container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1364.98px) {
  .b-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.b-main__index {
  margin-top: 65px;
  margin-bottom: 95px;
}

@media (max-width: 1364.98px) and (min-width: 767.98px) {
  .b-main__index {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

@media (max-width: 1364.98px) {
  .b-main__index_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.b-footer_styleJS {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}

.bodyBack {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(58, 56, 56, 0.4);
}
/*# sourceMappingURL=style.css.map */