.b-head {
  height: 75px;
  background-color: #222222;
  -ms-flex-line-pack: center;
      align-content: center;
}

.b-head_paddingTop {
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-navBar__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 41px;
}

.b-navBar__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 33px;
}

@media (max-width: 767.98px) {
  .b-navBar__left {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 767.98px) {
  .b-navBar_hidden {
    display: none;
  }
}

.b-cart {
  position: relative;
}

.b-cart img {
  display: block;
}

.b-cart__numbOfPrdct {
  position: absolute;
  right: -5px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F16D7F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.b-header {
  height: 764px;
  background-color: #F1E4E6;
}

@media (max-width: 1364.98px) {
  .b-header {
    height: 368px;
  }
}

@media (max-width: 767.98px) {
  .b-header {
    height: 363px;
  }
}

.b-header__contentBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/index/header/man.png);
  background-repeat: no-repeat;
  background-position: -225px 0;
}

@media (max-width: 1364.98px) {
  .b-header__contentBox {
    background-size: contain;
    background-position: -100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767.98px) {
  .b-header__contentBox {
    background-image: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-header__content {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 91px;
  margin-bottom: 381px;
}

@media (max-width: 1364.98px) {
  .b-header__content {
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .b-header__content {
    height: 69px;
  }
}

.b-header__title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  line-height: 38px;
}

.b-header__title_font {
  font-weight: 700;
  font-size: 32px;
}

.b-header__title_pink {
  color: #F16D7F;
}

@media (max-width: 1364.98px) {
  .b-header__title {
    font-size: 44px;
    line-height: 29px;
  }
  .b-header__title_font {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .b-header__title {
    font-size: 38px;
    line-height: 24px;
  }
  .b-header__title_font {
    font-size: 20px;
  }
}

.b-offers__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1364.98px) {
  .b-offers__box {
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offers__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 30px;
  }
}

.b-offerEl {
  position: relative;
  max-width: 360px;
  max-height: 260px;
}

@media (max-width: 767.98px) {
  .b-offerEl {
    max-width: 100%;
  }
}

.b-offerEl img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.b-offerEl__background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
}

.b-offerEl__title {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.b-offerEl__title_span {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.b-offerEl_accesories {
  margin-top: 30px;
  max-width: 100%;
  max-height: 180px;
}

@media (max-width: 1364.98px) {
  .b-offerEl_accesories {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .b-offerEl_accesories {
    margin-top: 30px;
    height: 111px;
  }
}

.b-catalog_margin {
  margin-top: 96px;
}

@media (max-width: 1364.98px) {
  .b-catalog {
    margin-top: 155px;
  }
}

@media (max-width: 767.98px) {
  .b-catalog {
    margin-top: 64px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.b-catalog__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.b-catalog__description {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.b-catalog__box {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 1024.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 16px;
  }
}

@media (max-width: 475.98px) {
  .b-catalog__box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.b-product {
  max-width: 360px;
  background-color: #F8F8F8;
}

@media (max-width: 1064.98px) {
  .b-product {
    max-width: 100%;
  }
}

.b-product img {
  width: 100%;
}

.b-product__description {
  padding: 25px 29px 20px 16px;
}

.b-product__description h2 {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}

.b-product__description p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-bottom: 18px;
}

.b-product__description h3 {
  color: #F16D7F;
  font-size: 13px;
  line-height: 16px;
}

.b-button {
  width: 212px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin: 0 auto;
}

.b-button_margin {
  margin-top: 48px;
}

@media (max-width: 1364.98px) {
  .b-button_margin {
    margin-top: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-button_margin {
    margin-top: 40px;
  }
}

.b-feature {
  height: 341px;
  background: #222224;
}

@media (max-width: 1364.98px) {
  .b-feature {
    height: 610px;
  }
}

.b-feature__box {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1364.98px) {
  .b-feature__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

.b-feature__el {
  max-width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.b-feature__el h3 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.b-feature__el p {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.b-feature__imgBox {
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.b-container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1364.98px) {
  .b-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 767.98px) {
  .b-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.b-main__index {
  margin-top: 65px;
  margin-bottom: 95px;
}

@media (max-width: 1364.98px) and (min-width: 767.98px) {
  .b-main__index {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

@media (max-width: 1364.98px) {
  .b-main__index_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
/*# sourceMappingURL=style.css.map */